*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Plus Jakarta Sans";
}

@media screen {
    html,body {
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 0;
       overflow-x: hidden;
   }
}


.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100vw;
    height: 99px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-left: 40%;
}

.li {
    column-gap: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.a{
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.a:hover{
    color: #2EBB77;
}
.BUtton1{
    padding: 10px;
    height: 48px;
    width: 127.69px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    margin-left: 25px;
}

.dadhero{
    margin: 0 10% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lefthero{
    width: 50%;
    /* background-color: red; */
}

.righthero{
    width: 50%;
}

.heroimage{
    width: 100%;
    /* height: auto; */
}

.Create{
    color: #B479D9;
    font-size: 18px;
    font-weight: bold;
    background-color:#f4ebf9 ;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 10% 0;
}

.make{
      font-size: 68px;
      font-weight: bold;
      line-height: 81.6px;
}

.whats{
    margin: 5% 0;
    font-size: 18px;
    /* font-weight: bold; */
    line-height: 32px;
    color:#7E7E7E ;
}

.buttons{
    display: flex;
    align-items: center;
}

.buttonshop{
    padding: 10px;
    height: 56px;
    width: 164.14px;
    border-radius: 12px;
    background-color: #2EBB77;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 16px;
}


 .How{
    margin: 0 20px;
    display: flex;
    font-weight: bold;
    color: black;
    font-size: 16px;
    align-items: center;
 }

 .k4 {
    margin-top: 5%;
    display: flex;
    column-gap: 30px;
 }

 .line{
    height: 61.45px;
    width: 1px;
    background-color: #CCCCCC;
 }


  .Collection{
    color: #7E7E7E;
    font-size: 18px;
  }

.brands{
    height:403.28px; 
    width: 100%;
    background-color:#F5F5F5 ;
    padding: 6% 0 0 0;
    margin-top: 50px;
}

.weve{
    text-align: center;
    font-weight: bold;
    font-size:24px;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.howto{
     text-align: center;
     margin: 80px 0 0 0;
}

.howto h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.howto p{
    font-size:18px;
    font-weight: medium;
    color: #7E7E7E;
}

.dadsample{
    display: flex;
    justify-content: center;
}

.sample{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8%;
    width: 80%;
    margin-top: 80px;
}

.middlenumber{
    background-color: white;
    width: fit-content;
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.082);
    padding: 10px 17px;
    border-radius: 50%;
    font-size:18px ;
    font-weight: bold;
}

.dadsamplelast{
    margin-bottom: 80px;
}

.freeandeasy{
    width: 100%;
    background-color: #F5F5F5 ;
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    padding: 80px 0 80px 0;
}

.free h1{
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: bold;
}

.free p{
    font-size: 18px;
    font-weight: medium;
    line-height: 32px;
    margin-bottom: 30px;
    color: #7E7E7E;
}

.printing{
    height: 240px;
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
    justify-content: center;
    padding: 3% 0 0 0;
}

.printing h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.printing p{
    font-size:18px;
    font-weight: medium;
    /* margin-bottom: 80px; */
    color: #7E7E7E;
}

.premium{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #F5F5F5;
    padding: 50px 0 0 0 ;
}


.premiumleft p{
    /* align-items: top; */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 60px;
}

.easyto{
    width:494px ;
    height: 156px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 15px  50px 0px rgba(0, 0, 0, 0.11); 
    padding: 25px 0 0 25px;
    margin-bottom: 60px;
    position: relative;
    left: -25px;
}

.easyto p{
    font-size: 20px;
    /* margin: 2px; */
}

.easyto span{
    margin-top: 30px;
    color: #7E7E7E;
    font-size: 16px;
}

.slide{
    padding: 0 10% 3%;
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    position: relative;
    margin: 80px 0 0 0px;
    /* column-gap: 20px; */
    justify-content: space-between;

}

.slide1stp{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.slide2stp{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #2EBB77;
    text-align: center;
}
.slide2stpp{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.slide2stp span{
    font-size: 14px;
    font-weight: medium;
    color: #9B9B9B;
    text-align: center;
    text-decoration: line-through;
    margin-left: 10px;
}

.slide3rdp{
    position: absolute;
    top: 10px;
    margin: 0 0 0 10px;
    background-color: #2EBB77;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
    line-height: 23px;
}
.slide3rdppp{
    position: absolute;
    top: 10px;
    margin: 0 0 0 10px;
    background-color: #F09155;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
    line-height: 23px;
}
.slide3rdpp{
    position: absolute;
    top: 45px;
    margin: 0 0 0 10px;
    background-color: #B479D9;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
    line-height: 23px;
}

.circles{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    column-gap: 10px;
    align-items: center;
}


.circle1 {
    height: 15px; 
    width: 15px; 
    background-color: black;
    border-radius: 50%; 
    border: 3px solid white; 
    box-shadow: 0 0 0 1px black;
}
.circle2 {
    height: 15px; 
    width: 15px; 
    background-color: #D7A983;
    border-radius: 50%; 
    border: 3px solid white; 
    box-shadow: 0 0 0 1px black;
}
.doublecard{
    display: flex;
    justify-content: center;
    column-gap: 2%;
    padding: 0 0 3% 0;
}

.card1{
    background-image: url(Link\ →\ banner-26.png);
    height:360px ;
    width: 690px;
    border-radius:12px;
    padding: 3% 0 0 3%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.card2{
    background-image: url(Link\ →\ banner-27.jpg);
    height:360px ;
    width: 690px;
    border-radius:12px;
    padding: 3% 0 0 3%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.butttoncard{
    margin: 30px 0;  
}


.customize{
    position: relative;
    height: 1150px;
    width: 100%;
    background-color:#F5F5F5 ;
    z-index: -2;
    padding: 5% 12.5% 5% 12.5%;
    display: flex;
}

.custom-shape-divider-top-1710530305 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1710530305 svg {
    position: relative;
    display: block;
    width: calc(277% + 1.3px);
    height: 350px;
}

.custom-shape-divider-top-1710530305 .shape-fill {
    fill: #ffffff;
}

.customize1 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 40%;
}

.customize1 h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}
.customize1 p{
    font-size: 18px;
    font-weight: medium;
    line-height: 32px;
    color: gray;
}

.customize1button{
    width: fit-content;
    padding:0 2%;
}

.customizeleft{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 4%;
}

.chart{
    height: 326px;
    width: 258px;
    border-radius: 12px;
    padding: 10% 0 0 10%;
    background-color: white;
    box-shadow: 0 0 10px 0 #00000025;
}

.chart h1{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: black;
    margin-top: 15px;
}
.chart p{
    font-size: 15px;
    font-weight: medium;
    line-height: 27px;
    color: #7E7E7E;
    margin-top: 15px;

}

.chartlast{
    border-radius: 12px;
    padding: 4% 8%;
    background-image: url(Link\ →\ banner-28.png);
    height: 100%;
    box-shadow: 0 0 10px 0 #00000025;
    grid-column-start: 1;
    grid-column-end: 4;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.chartlast h1{
    font-size:24px ;
}


.resources{
    padding: 5% 10%;
    height: 595px;
    width: auto;
    /* background-color: red; */
}

.resourcesleftright{
    margin-top: 5%;
    display: flex;
    justify-content: center;

}

.resourcesleft{
    display: flex;
    column-gap: 4%;
    width: 50%;
}
.resourcesright{
    display: flex;
    column-gap: 4%;
    width: 50%;
}

.saying{
    /* position: relative; */
    /* background-color: red; */
    background-image: url(saying.png);
    /* height:auto; */
    width: auto;
    padding-bottom: 4%;
}

.profile{
    height: 324px;
    width: 450px;
    padding: 3%;
    background-color: white;
    box-shadow: 0 0 10px 0px #00000025;
    border-radius: 12px;
}

.prodetails{
    display: flex;
    column-gap: 5%;
    align-items: center;
    margin-bottom: 20px;
}

.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.ball1{
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;

}
.ball2{
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
}

.Enjoy{
    background-image: url(div.e-con-inner.png);
    width: auto;
    height: 541px;
    background-color: #B479D915;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Enjoy h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.Enjoy p{
    font-weight: medium;
    font-size: 20px;
    color: #7E7E7E;
    text-align:center;
    margin-top: 20px;
}

.Enjoybuttion{
    padding: 10px;
    height: 56px;
    width: 164.14px;
    border-radius: 12px;
    background-color: #2EBB77;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 16px;
    margin: 30px 10px;
}
.Enjoybuttion1{
    padding: 10px;
    height: 56px;
    width: 164.14px;
    border-radius: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    font-size: 16px;
    margin: 30px 10px;
}

.lists{
    height: 85px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50%;
 }

 .social li{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
 }

 .Facebook{
    text-decoration: none;
    /* list-style: none; */
    color: black;
 }

 .footer{
    height:470px;
    width: auto;
    padding: 5% 10%;
    background-color:#F5F5F5 ;
    display: flex;
    justify-content: space-between;
 }

 .column{

 }

 .column1 p{
    font-size: 18px;
    font-weight: medium;
    color: #7E7E7E;
    margin-top: 15px;
 }
 
 .column1 p:nth-child(3){
     font-size: 18px;
     font-weight: bold;
     color: black;
    }
    
.column1 p:nth-child(4){
   font-size: 18px;
   font-weight: medium;
   color: #7E7E7E;
   margin-top: 20px;
   line-height: 32px;
}

.column2 ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: medium;
    color: #7E7E7E;
}
.column2 ul li:nth-child(1){
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.column3 ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: medium;
    color: #7E7E7E;
}
.column3 ul li:nth-child(1){
    /* list-style: none; */
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.column4 :nth-child(1){
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}
.column4 :nth-child(2){
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: medium;
    color: #7E7E7E;

}
.column4 input{
    height: 56px;
    width: 330px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 0  #00000025;
    border: none;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;;
    background-image: url(Vector\ \(12\).png);
    background-repeat: no-repeat;
    background-position: 90% 23px;
    
}
.column4 input:focus {
    outline: none;
}

.navbar-search-icon2{
    display: none;
}

.navbar-menu-icon{
    display: none;
}

.navbar-responsive-search-icon{
    display: flex;
    gap: 20px;
}

@media only screen and ( max-width:1200px) {
    .ul{
        display: none;
    }

    .navbar-menu-icon{
        display: block;
    }

    .navbar-search-icon1{
        display: none;
    }
    .navbar-search-icon2{
        display: block;
    }

    .navbar{
        display: grid;
        grid-template-columns:auto auto auto;
    }

}
